<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Delete User Page</title>
</head>
<body>
    <h4>Enter your password to proceed</h4>
    <form method="post" action="/user/<%=id%>?_method=DELETE" class="form-box">
        <input type="password" name="password" id="password">
        <button type="submit">Confirm</button>
    </form>
</body>
</html>