<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <div class="HomePage">
        <h1 style="text-align: center;">Total Users on our website are: <%= count%></h1>
        <button  onclick="location.href='/user'">View Users</button>
        <button  onclick="location.href='/user/new'">Join us today</button>
    </div>
</body>
</html>