<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>New user</title>
</head>
<body>
    <h2>Connect with us today!</h2>
    <div class="formDiv">
        <form action="/user" method="POST" class="form-box">
            <label for="newUsername">Username:</label>
            <input type="text" id="newUsername" placeholder="Enter your username" name="newUsername">
        <br>
            <label for="newEmail">Email</label>
            <input type="email" id="newEmail" name="newEmail" placeholder="Ex:yourname@gmail.com">
        <br>
            <label for="enterPassword">Password:</label>
            <input type="password" id="enterPassword" name="password">
        <br>
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword">
        <br>
            <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>